/*
font-family: 'Roboto', sans-serif;
font-family: 'Lilita One', cursive;
*/
body {
    background: #F8D353;
    background: -webkit-radial-gradient(center, #F8D353, #CA8429);
    background: -moz-radial-gradient(center, #F8D353, #CA8429);
    background: radial-gradient(ellipse at center, #F8D353, #CA8429);
    font-family: 'Roboto', sans-serif;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topbar {
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1)
}

.topbar h3 {
    margin: 0;
    font-size: 1.5em;
    color: #462c1d;
    text-align: center;
    letter-spacing: .1em;
    text-shadow: 2px 5px 5px #713D0F;
}

.container {
    margin: 25px auto;
    width: 90%;
    max-width: 1500px;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col1,
.col2 {
    margin: 15px;
    flex: 0 0 350px;
}

.col2 {
    flex-grow: 1;
}

.transactions,
.card {
    width: 100%;
    height: 320px;
    background-color: whitesmoke;
    padding: 16px;
}

.transactions {
    font-family: Consolas, monaco, monospace;
    border: 2px solid #462c1d;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
}

.titlebar {
    margin: -16px;
    padding: 5px;
    background-color: goldenrod;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.log {
    margin-top: 20px;
    overflow: auto;
    height: 100%;
}

.log p::before {
    content: '>> ';
}

.log p {
    margin: 5px 0;
    border-bottom: 1px solid #777;
    padding: 10px 0;
}

.miner {
    width: 300px;
    height: 200px;
    margin: 30px auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    border: 2px solid #6B380E;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.miner .btn {
    background-color: #E8B945;
    color: #462c1d;
    border: 2px solid #6B380E;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    vertical-align: center;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.miner .btn:hover {
    color: #F8D353;
    background-color: #6B380E;
}


.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 12px -10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}

.card .imagearea {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.miner .imagearea {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: -15px;
}

.miner .imagearea img {
    object-fit: cover;
    width: 100%;
}


.card h2,
.miner h2 {
    color: #555;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin: 10px 0;
    font-size: 1.9em;
    text-align: center;
}

.card h1,
.miner h1 {
    color: #555;
    letter-spacing: 0.1em;
    font-weight: 400;
    margin: 2px 0;
    margin-bottom: 10px;

}

.card h1 i,
.miner h1 i {
    color: goldenrod;
    font-weight: 700;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card input[type="text"] {
    border-radius: 10px;
    border: 2px solid #009688;
    width: 150px;
    box-shadow: inset 0 5px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.5em;
    font-weight: 100;
    color: #777;
    padding: 10px;
    text-align: right;
}

.btn {
    width: 130px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 0.09em;
    margin: 0 4px;
    box-shadow: inset 0 -5px 2px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.btn.request {
    background-color: #009688;
    color: #fff;
}

.btn.request:hover {
    background-color: #00bfa5;
    color: #fff;
}


.btn.send {
    background-color: #d50000;
    color: #fff;
}

.btn.send:hover {
    background-color: #f44336;
    color: #fff;
}

.blockarea {
    /*    overflow-x: scroll;*/
    overflow-y: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}

.blockchain {
    width: 100%;
    height: 80px;
    background-color: #6B380E;
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 15px 0;
}

.block {
    font-size: 3em;
    color: #F8D353;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-left: 15px;
}

.block:hover {
    color: #F1E400;
}

.blockchain .info {
    min-width: 360px;
    width: 30%;
    min-height: 50px;
    margin: 0 -10px;
    position: absolute;
    bottom: 80px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
    font-family: Consolas, monaco, monospace;
    border: 2px solid #462c1d;
    box-shadow: inset 0 1px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.blockchain:hover .info {
    opacity: 1;
}


/*Media Queries*/
@media (max-width: 1320px) {
    .col2 {
        order: 2;
        margin: 15px 0;
    }

}

@media (max-width: 1280px) {
    .col1 {
        flex-basis: calc(1 / 2 * 95%);
        margin: 15px 10px;
    }

    .col1:first-child {
        margin-right: auto;
    }
}

@media (max-width: 795px) {
    .col1 {
        flex-basis: 100%;
        margin: 15px 0;
    }
    .container{
        width: 100;
        padding: 0;
    }

.col2 {
    flex: 0 0 100%;
}

}
