/*
font-family: 'Roboto', sans-serif;
font-family: 'Lilita One', cursive;
*/
body,
html {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    position: relative;
    background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

button,
input,
select,
button:focus,
input:focus,
select:focus {
    outline: none;
}

button:hover{cursor: pointer;}
.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.topbar {
    width: 100%;
    height: 80px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.1)
}

.topbar h3 {
    margin-top: 15px;
    font-size: 2em;
    color: #462c1d;
    text-align: center;
    letter-spacing: .1em;
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 0 15px;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    max-width: 2500px;
    margin: 15px auto 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 700px;

}

.col1,
.col2 {
    margin: 15px 15px;
    flex: 0 0 300px;
}

.col2 {
    flex-grow: 2;
}

.transactions,
.card {
    width: 100%;
    height: 320px;
    background-color: whitesmoke;
    padding: 16px;
    border: 1.5px solid #032B43;
}

.transactions {
    font-family: Consolas, monaco, monospace;
    border: 2px solid #462c1d;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;

}

.titlebar {
    margin: -16px;
    padding: 5px;
    height: 30px;
    background-color: #264653;
    color: #f5f5f5;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.log {
    margin: 16px -15px 0;
    overflow: auto;
    height: 100%;
    padding-left: 10px;
    word-wrap: break-word;
}

.log p::before {
    content: '>> ';
}

.log p {
    margin: 5px 0;
    border-bottom: 1px solid #777;
    padding: 10px 0;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 15px 12px -10px rgba(0, 0, 0, 0.5);
    position: relative;
    justify-content: space-between;
}

.card .imagearea {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 5
}


.btn {
    width: 130px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.15em;
    letter-spacing: 0.09em;
    margin: 0 4px;
    box-shadow: inset 0 -5px 2px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 10px;
}



.card h2 {
    color: #555;
    letter-spacing: 0.1em;
    font-weight: 600;
    margin: 10px 0;
    font-size: 1.9em;
    text-align: center;
}

.card p {
    color: #555;
    font-weight: 400;
    margin: 10px 0;
    font-size: 1.3em;
}

.nav button {
    width: 40px;
    height: 50px;
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.3em;
    top: 30%;
    transform: translateY(50%);
}

.nav button:hover {
    background-color: #000;
}

.nav .left {
    left: 0;
}

.nav .right {
    right: 0;
}

.buttons .btn {
    height: 100px;
    border-radius: 0;
    background-color: #2A9D8F;
    color: #f5f5f5;
}

.buttons .btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.buttons .btn .fas {
    font-size: 1.5em;
}

.buttons .btn div {
    font-size: .8em;
    margin-top: 10px;
}





.blockarea {
    /*    overflow-x: scroll;*/
    overflow-y: hidden;
    width: 100%;
    display: flex;
    align-items: center;
}

.blockchain {
    width: 100%;
    height: 80px;
    background-color: rgba(238, 238, 236, 0.8);
    padding: 15px 10px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px solid #462c1d;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    margin: 50px 15px;
}

.block {
    font-size: 3em;
    color: #F8D353;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    margin-left: 15px;
}

.block:hover {
    color: #F1E400;
}

.blockchain .info {
    min-width: 300px;
    width: 30%;
    min-height: 50px;
    margin: 0 -10px;
    position: absolute;
    bottom: 80px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-family: Consolas, monaco, monospace;
    border: 2px solid #462c1d;
    box-shadow: inset 0 1px 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    word-wrap: break-word;
}

.blockchain:hover .info {
    opacity: 1;
}

#blockinfo br {
    margin: 0;
}

#canvas {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
}

#canvas canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Modal Styles */
.modal.show {
    opacity: 1;
    pointer-events: all;
}

.modal {
    background-color: rgba(3, 43, 67, .7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 100;
}

.modal-inner {
    width: 90%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 1px 15px -2px rgba(0, 0, 0, 0.5);
    max-width: 1500px;
    max-height: 700px;
    position: relative;
    margin: 80px 0 30px;
    transform: scale(0.5);
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
}

.modal-top {
    height: 100px;
    background-color: #032B43;
    border-bottom: 1.5px solid #032B43;
    justify-content: space-between;
    padding: 0px 20px;
}

.modal-top h2 {
    color: #fff;
    font-weight: 100;
}

.modal-top button {
    padding: 2px 10px;
    text-transform: uppercase;
    background-color: #d91e18;
    color: #fff;
    border: none;
    font-size: 2em;
    width: 50px;
}

.modal-top button:hover {
    cursor: pointer;
    background-color: #f22613;
}


.modal-bottom {
    height: 250px;
    background-color: #f5f5f5;
    border-top: 1.5px solid #999;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.3);
    order: 1;
    margin-top: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.modal-bottom .data-queue {
    width: 70%;
    height: 100%;
    border-right: 1.5px solid #999;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.modal-bottom .chip {
    padding: 15px 10px 10px;
    font-size: 1.5em;
    flex: 0 0 calc(1 / 7 * 110%);
    min-width: 100px;
    height: 60px;
    margin: 10px;
    justify-content: space-around;
    border: 1px solid #2A9D8F;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #444;
    cursor: pointer;
    position: relative;

}

.modal-bottom .chip:hover {
    border-color: #d91e18;
}

.modal-bottom .chip span {
    font-size: 0.6em;
}

.modal-bottom .chip .chip-close {
    position: absolute;
    top: 0;
    right: 4px;
    background-color: transparent;
    color: #d91e18;
    border: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.modal-bottom .button {
    margin: 0 auto;
    padding: 10px;
}

.modal-bottom .button > .btn {
    background-color: #2A9D8F;
    color: #f5f5f5;
    border-radius: 0;
}

.modal-bottom .button > .btn:hover {
    background-color: #2abb9b;
}



.modal.show > .modal-inner {
    transform: scale(1);
}

.database {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 85%;
    position: absolute;
}

.modal-guts {
    height: 100%;
    position: relative;

}

.searchArea {
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;

}

.searchBar {
    width: 60%;
    margin: auto;
    height: 15%;
    padding: 10px 0;
    position: relative;
}

.searchBar input {
    height: 100%;
    width: 100%;
    border: 2.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 1.3em;
    color: #999;
}

.searchBar input::placeholder {
    color: #999;
}

.searchIcon {
    position: absolute;
    right: 15px;
    color: #999;
    font-size: 1.2em;
    user-select: none;
    pointer-events: none;
}

.data-card {
    flex: 0 0 calc(1 / 10 * 110%);
    border-radius: 5px;
    height: 100px;
    margin: 10px;
    min-width: 100px;
    color: #495057;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}


.data-card:hover,
.data-card.active {
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.5);
    background-color: #2A9D8F;
    color: #f5f5f5;
}

.data-card:hover > .popover {
    opacity: 1;
}

.data-card .card-top {
    font-size: 3em;
    width: 100%;
    height: 100%;
    text-align: center;
}

.data-card .card-bottom {
    padding: 5px 5px 10px;
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.data-card .popover {
    min-width: 100px;
    max-width: 180px;
    min-height: 100px;
    position: absolute;
    background-color: #f5f5f5;
    padding: 10px;
    top: 0;
    right: -100%;
    opacity: 0;
    pointer-events: none;
    color: #444;
    transition: opacity 0.2s;
}

.data-card .popover::before {
    content: "";
    position: absolute;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;

}

.data-card .popover h4 {
    margin: 0;
    text-transform: capitalize;
}

.data-card .popover p {
    margin: 10px 0;
    color: #777;
    font-weight: 100;
}

.data-card .popover p:last-child {
    font-size: 0.8em;
    font-style: italic;
}

/*Media Queries*/
@media (max-width: 1480px) {
    .col2 {
        order: 2;

    }
}

@media (max-width: 1390px) {

    .col1 {
        flex-basis: calc(1 / 2 * 95%);
        margin: 15px 0;
        margin-top: 55px;

    }

    .col1:first-child {
        margin-right: auto;
    }
}

@media (max-width: 795px) {
    .col1 {
        flex-basis: 100%;
        margin: 15px auto;
    }

    .col1:first-child {
        margin-top: 55px;
    }

    .container {
        width: 100%;
        padding: 15px;
    }

    .col2 {
        flex: 0 0 0;
        width: 100%;
        margin: 15px auto;

    }

}
